
.main {
width: 1110px;
max-width: 100%;
margin: 0 auto;
padding: 10px;


background:
radial-gradient(300px circle at 73% 60%, rgba(69,28,84,.8),rgba(69,28,84,0)),
radial-gradient(280px circle at 52% 70%, rgba(220,123,67,.95),rgba(220,123,67,0)),
radial-gradient(421px circle at 82% 82%, rgba(197,197,145,.95),rgba(197,197,145,0)),
radial-gradient(450px circle at 42% 65%, rgba(192,40,89,1),rgba(192,40,89,0)),
radial-gradient(480px circle at 40% 75%, rgba(192,40,89,1),rgba(192,40,89,0)),
radial-gradient(480px circle at 38% 95%, rgba(192,40,89,1),rgba(192,40,89,0)),
radial-gradient(435px circle at 65% 73%, rgba(235,188,143, 1), rgba(235,188,143, 0)),
radial-gradient(850px circle at right top, rgba(147,17,87, 1), rgba(147,17,87, .9), rgba(209,64,97,.4), rgba(209,64,97,0)),
radial-gradient(422px circle at right 75%, rgba(35,173,149, .95), rgba(35,173,149, 0)),
radial-gradient(350px circle at right 50%, rgba(204,116,96,1), rgba(204,116,96,0)),
radial-gradient(300px circle at right bottom, rgba(169,82,160, 1),  rgba(169,82,160, 0)),
linear-gradient(to right bottom, rgba(71,17,77, 0), rgba(71,17,77, 0.95) 40%, rgba(71,17,77, 0.5) 60%, rgba(71,17,77, 0)),
linear-gradient(to right, #1c062d, #b8205d);

min-height: 100vh;
font-family: "Segoe UI", "Segoe WP", "Open Sans", Helvetica, Arial;
font-size: 16px;
line-height: 1.6;


}


.block {
flex: 1 1 auto;
padding: 11px 25px 20px;
margin: 10px;
background: #FFF;
border-radius: 4px;
box-shadow: 0 2px 4px rgba(0,0,0,.15);
color: #989987;
border-top: 4px solid #FFF;
overflow: hidden;

}


h1 { 
color: #FFF;
text-align: center;
font-family: 'Amatic SC';
font-size: 45px;


}
h2 {
color: #FFF;
text-align: center;
font-family: 'Amatic SC';
font-size: 35px;
}
h3 {
color: #FFF;
margin-top: .3em;
margin-bottom: .2em;
font-family: 'Amatic SC';
font-size: 25px;
}

nav ul {
list-style: none;
display: flex;
padding: 0;
margin: 0;
}
li {
flex: 1 1 auto;
text-align: center;
font-family: 'Amatic SC';
}

nav a {
display: block;
padding: 20px 5px;
text-decoration: none;
color: inherit;
border-radius: 5px;
font-size: 25px;
font-weight: 700;
}
nav a:hover, nav a:focus {
background: #989987;
color: rgb(119, 15, 15);
}


#Perfo
{
display: flex;
text-align: center; 
justify-content: space-around;
margin-bottom: 5%;
}

.perfofils
{
list-style-type: none; 
border: 0.5px black outset;
max-width: 25%;
padding: 1px;
color: white;
border-radius: 5px;
box-shadow: 2px 2px 10px #1C1A19;

}
.perfofilspolice
{
font-size: 25px;
}
/* TABLEAU */
td
{
border: 1px solid white;
text-align: center;
padding: 10px;
}

th
{
border: 1px solid white;
text-align: center;
padding: 10px;
background-color: #862052;
color: white;
}

table
{
border-collapse: collapse;
margin: auto;
background-color: #989987;
font-family: 'Dosis', cursive;
font-size: 1.3em;
margin-bottom: 4%;
box-shadow: 2px 2px 10px black;   
}

legend {
padding: 0px 3px;
font-weight: bold;
font-variant: small-caps;
}


/*INPUT*/
fieldset {
margin-bottom: 15px;
padding: 10px;
}

label {
width: 320px;
display: inline-block;
vertical-align: top;
margin: 6px;
font-size: 1.5em;
}
input:focus {
background: #eaeaea;

}

input, textarea {
height: 35px;
width: 400px;
font-size: 1em;
}
textarea {
width: 400px;
height: 100px;
}
input[type=submit] {
border: 0;
background: #989987;
color: #FFF;
border-radius: 0 3px 3px 0;
font-weight: bold;
font-size: 1.5em;
text-transform: uppercase;
}

/* aligner le footer */
p {
text-align: center;
}

#diver {width: 225px; height: 400px;
background-image: url(https://estelle.github.com/10/files/sprite.png);
animation: gangham 4s steps(23,start) infinite,
movearound 12s steps(69,end) infinite alternate 44ms;
animation-direction: normal, alternate;
}
@keyframes gangham {
0% {background-position: 0 0}
100% {background-position: -5175px 0}
}
@keyframes movearound {
0% {transform: translatex(0)}
100% {transform: translatex(600px);}
}